# SPDX-License-Identifier: GPL-2.0
config MOTO_MM
	tristate "moto mm for moto_swap"
	default y
	help
         Say Y here if you want to build moto_swap driver.

         This driver can also be built as a module.  If so, the module
         will be called moto_mm.
